$icomoon-font-family: "fryan" !default;
$icomoon-font-path: "/public/fonts" !default;

$icon-home: "\e900";
$icon-dashboard: "\e901";
$icon-settings: "\e902";
$icon-global: "\e903";
$icon-login: "\e904";
$icon-logout: "\e905";
$icon-user: "\e906";
$icon-time: "\e907";
$icon-power: "\e908";
$icon-heart: "\e909";
$icon-link: "\e90a";
$icon-add: "\e90b";
$icon-minus: "\e90c";
$icon-edit: "\e90d";
$icon-delete: "\e90e";
$icon-cloud: "\e90f";
$icon-service: "\e910";
$icon-project: "\e911";
$icon-device: "\e912";
$icon-deploy: "\e913";
$icon-modal: "\e914";
$icon-connected: "\e915";
$icon-disconnected: "\e916";

