$path: 'http://127.0.0.1:8080/assets/fonts/';
$fileName: 'fryan-icon';
$unicodeStart: e900;
$unicodeEnd: e92d;
$classPassphrase: 'fr';
@font-face {
  font-family: 'icomoon';
  src:  url('#{$path + $fileName}.eot?qdszxk');
  src:  url('#{$path + $fileName}.eot?qdszxk#iefix') format('embedded-opentype'),
    url('#{$path + $fileName}.ttf?qdszxk') format('truetype'),
    url('#{$path + $fileName}.woff?qdszxk') format('woff'),
    url('#{$path + $fileName}.svg?qdszxk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  unicode-range: U+#{$unicodeStart}-#{$unicodeEnd};
}

[class^="#{$classPassphrase}"][class*="icon"],
[class*="#{$classPassphrase}"][class*="icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
  transform: translateY(.03em) scale(1.17);
}

.icon-amastek_colorful_logoWithText .path1:before {
  content: "\e917";
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logoWithText .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logoWithText .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logoWithText .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logoWithText .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logoWithText .path6:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logoWithText .path7:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logoWithText .path8:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(143, 195, 31);
}
.icon-amastek_colorful_logoWithText .path9:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(143, 195, 31);
}
.icon-amastek_colorful_logoWithText .path10:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(143, 195, 31);
}
.icon-amastek_colorful_logoWithText .path11:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 71, 139);
}
.icon-amastek_colorful_logoWithText .path12:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 71, 139);
}
.icon-amastek_colorful_logoWithText .path13:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logoWithText .path14:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logo .path1:before {
  content: "\e925";
  color: rgb(143, 195, 31);
}
.icon-amastek_colorful_logo .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(143, 195, 31);
}
.icon-amastek_colorful_logo .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(143, 195, 31);
}
.icon-amastek_colorful_logo .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 71, 139);
}
.icon-amastek_colorful_logo .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 71, 139);
}
.icon-amastek_colorful_logo .path6:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_colorful_logo .path7:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(24, 127, 196);
}
.icon-amastek_logo:before {
  content: "\e92c";
}
.icon-amastek_logoWithText:before {
  content: "\e92d";
}
.icon-add:before {
  content: "\e900";
}
.icon-cloud:before {
  content: "\e901";
}
.icon-connected:before {
  content: "\e902";
}
.icon-dashboard:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-deploy:before {
  content: "\e905";
}
.icon-device:before {
  content: "\e906";
}
.icon-disconnected:before {
  content: "\e907";
}
.icon-edit:before {
  content: "\e908";
}
.icon-global:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e90a";
}
.icon-project:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90c";
}
.icon-link:before {
  content: "\e90d";
}
.icon-login:before {
  content: "\e90e";
}
.icon-logout:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e910";
}
.icon-modal:before {
  content: "\e911";
}
.icon-power:before {
  content: "\e912";
}
.icon-service:before {
  content: "\e913";
}
.icon-settings:before {
  content: "\e914";
}
.icon-time:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}