@import './variables';

@function checkVP($string) {
  @if (type-of($string) == number) {
    @return $string + 'px';
  }

  $getVar: breakpoint($string, 'number');
  @if (type-of($getVar) == number) {
    @return $getVar + 'px';
  }
}

@mixin breakpoint-d($sz) {
  @media only screen and (max-width: #{checkVP($sz)}) {
    @content;
  };
}
@mixin breakpoint-u($sz) {
  @media only screen and (min-width: #{checkVP($sz)}) {
    @content;
  };
}
@mixin breakpoint-b($szFrom, $szTo) {
  @media (min-width: #{checkVP($szFrom)}) and (max-width: #{checkVP($szTo)}) {
    @content;
  }
}

@mixin bkd($sz)
  {@include breakpoint-d($sz) {@content;};
}
@mixin bku($sz) {
  @include breakpoint-u($sz) {@content;};
}
@mixin bkb($szFrom, $szTo) {
  @include breakpoint-b($szFrom, $szTo) {@content;};
}
