@import './multipleSelector';

@mixin language($language-type:all) {
  @if $language-type == 'en' {
    @at-root #{'html:lang(en) ' + &} {
      @content;
    }
  }
  @else if $language-type == 'tw' {
    @at-root #{'html:lang(zh-Hant-TW) ' + &} {
      @content;
    }
  }
  @else if $language-type == 'cn' {
    @at-root #{'html:lang(zh-Hans) ' + &} {
      @content;
    }
  }
  @else if $language-type == 'all' {
    @at-root #{'html ' + &} {
      @content;
    }
  }
}

@mixin parent($parent: parent, $parentExtend: '', $child: child) {
  $parent: quote($parent);
  $child: quote($child);
  $child: str-slice(
    $child,str-length($parent + ' '),str-length($child)
  );
  @at-root #{$parent}#{$parentExtend}#{$child} {
    @content;
  }
}

@mixin parent-extend($class,$class-replace) {
  @at-root #{selector-replace(&, '#{$class}', '#{$class-replace}')} {
    @content;
  }
}
