header.theHeader {
  $expendedTogglerScale: false;

  .navbar-brand {
    @include light {
      color: color(font);
    }
    @include dark {
      color: color(font, d);
    }
  }
  .navbar-toggler {
    @include transition;
    position: relative;
    width: 4em;
    height: 1em;
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    $w: 1.5em;
    $h: 4px;
    .group {
      i {
        right: 0;
        position: absolute;
        display: block;
        height: $h;
        @include light {
          background: color(font);
        }
        @include dark {
          background: color(font, d);
        }
        @include transition;
        &:nth-child(1) {
          top: 0;
          width: $w * .8;
        }
        &:nth-child(2) {
          top: 50%;
          width: $w * .6;
          margin-top: $h / -2;
        }
        &:nth-child(3) {
          top: 100%;
          width: $w * .9;
          margin-top: -$h;
        }
      }
    }
    span {
      position: absolute;
      top: 50%;
      left: 0;
      font-weight: bold;
      font-size: .9rem;
      line-height: 1em;
      margin-top: -.5em;
      &:before, &:after {
        @include light {
          color: color(font);
        }
        @include dark {
          color: color(font, d);
        }
        @include transition;
      }
      &:before {
        content: 'MENU';
        max-width: 100%;
      }
      &:after {
        content: 'CLOSE';
        opacity: 0;
      }
    }
    &[aria-expanded='true'] {
      z-index: 2;
      transition-delay: .2s;
      @if ($expendedTogglerScale) {
        transform: scale(1.2) translateX(-.5em) translateY(.5em);
      }
      .group i {
        transition-delay: .3s;
        width: $w;
        &:nth-child(1) {
          transform-origin: center;
          top: 40%;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateX(-100%);
          opacity: 0;
        }
        &:nth-child(3) {
          top: 60%;
          transform-origin: center;
          transform: rotate(-45deg);
        }
      }
      span {
        transition-delay: .3s;
        &:before {
          opacity: 0;
          margin-left: -3em;
          transition-delay: .3s;
        }
        &:after {
          @include transition;
          transition-delay: .3s;
          opacity: 1;
        }
      }
    }
  }
  .navbar-collapse {
    ul.navbar-nav {
      li.nav-item {
        $parent: &;
        .nav-link {
          @include light {
            color: color(font);
          }
          @include dark {
            color: color(font, d);
          }
          span {
            $child: &;
            @include parent($parent, '.active', $child) {
              color: red;
            }
          }
        }
      }
    }
  }
}
