@import '../utilities/index';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans+TC:wght@400;700&display=swap');


body {
  font-family: Noto Sans TC, Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  @include light {
    color: color(font);
  }
  @include dark {
    color: color(font, dark);
  }
  @if settings(fontScale) {
    @include bku(xs) {
      font-size: 3vw;
    }
    @include bku(sm) {
      font-size: 2.3vw;
    }
    @include bku(md) {
      font-size: 2vw;
    }
    @include bku(lg) {
      font-size: 1.8vw;
    }
    @include bku(xl) {
      font-size: 1.6vw;
    }
    @include bku(xxl) {
      font-size: 1.4vw;
    }
    @include bku(xxxl) {
      font-size: 1.2vw;
    }
  }
}
