@import '../config';
@import '../utilities/index';
@import './animate';

%fr-loading-background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: fade-out($color-light-background, .1);
  @include dark {
    background: fade-out($color-dark-background, .1);
  }
}

%fr-loading-circle{
  $sz: 3em;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: block;
  width: $sz;
  height: $sz;
  margin: -$sz/2;
  border-radius: 100%;
  border: 3px solid color(borderColor);
  border-color: fade-out($color-light-borderColor, .5);
  border-top-color: darken($color-light-borderColor, 5%);
  @include dark {
    border-color: $color-dark-borderColor;
    border-top-color: fade-in($color-dark-borderColor, .2);
  }
  animation: fr-animate-rolling .7s linear infinite;
}