$color-un: #5AA3BF;
$color-deux: #F2A81D;
$color-trois: #731810;
$color-quatre: #658791;
$color-cinq: purple;


$color-light-un: lighten($color-un, 5%);
$color-light-deux: lighten($color-deux, 5%);
$color-light-trois: lighten($color-trois, 5%);
$color-light-quatre: lighten($color-quatre, 5%);
$color-light-cinq: lighten($color-cinq, 5%);
$color-light-background: rgb(255, 254, 250);
$color-light-font: rgb(80, 80, 80);
$color-light-firstLayerBackground: rgba(0, 0 , 0, .1);
$color-light-borderColor: rgb(200, 200, 200);

$color-dark-un: darken($color-un, 10%);
$color-dark-deux: darken($color-deux, 10%);
$color-dark-trois: darken($color-trois, 10%);
$color-dark-quatre: darken($color-quatre, 10%);
$color-dark-cinq: darken($color-cinq, 10%);
$color-dark-background: rgb(19, 29, 36);
$color-dark-font: rgba(255, 255, 255, .85);
$color-dark-firstLayerBackground: rgb(22, 35, 43);
$color-dark-borderColor: rgba(255, 255, 255, .1);

$colors: (
  'light': (
    'un': $color-light-un,
    'deux': $color-light-deux,
    'trois': $color-light-trois,
    'quatre': $color-light-quatre,
    'cinq': $color-light-cinq,
    'background': $color-light-background,
    'font': $color-light-font,
    'cardBackground': $color-light-firstLayerBackground,
    'borderColor': $color-light-borderColor,
  ),
  'dark': (
    'un': $color-dark-un,
    'deux': $color-dark-deux,
    'trois': $color-dark-trois,
    'quatre': $color-dark-quatre,
    'cinq': $color-dark-cinq,
    'background': $color-dark-background,
    'font': $color-dark-font,
    'cardBackground': $color-dark-firstLayerBackground,
    'borderColor': $color-dark-borderColor,
  )
) !default;
$color-light-map: map-get($colors, 'light') !default;
$color-dark-map: '' !default;
@if map-has-key($colors, 'dark') {
  $color-dark-map: map-get($colors, 'dark');
}

$breakpoints: (
  'xs': 320, // custom
  'sm': 576, // extend bootstrap4
  'md': 768, // extend bootstrap4
  'lg': 992, // extend bootstrap4
  'xl': 1200, // extend bootstrap4
  'xxl': 1440, // custom
  'xxxl': 1600
) !default;

$spacing: (
  'un': .35rem,
  'deux': .8rem,
  'trois': 1.25rem,
  'quatre': 1.7rem,
  'cinq': 2.15rem
);

$settings: (
  'fontScale': true,
  'inputHeight': 2.3em,
  'inputPadding': .3em .5em,
  'inputPaddingLg': .5em .8em,
  'inputRadius': .3rem,
  'inputBorderWidth': 1px,
  'inputBorderColor': var(--fr-color-borderColor),
);

$passphrase: '.fr';
