@import './config';
@import './utilities/index';
@import './library/index';

body {
  @include light {
    background: color(background, light);
  }
  @include dark {
    background: color(background, dark);
  }

  #app {
    .container {
      @include light {
        background: color(cardBackground);
      }
      @include dark {
        background: color(cardBackground, dark);
      }
    }
  }

  input, button {
    &, &:hover, &:visited, &:focus {
      outline: 0;
    }
  }
}
